{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
<table class="table">
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total price</th>
            <th>Transacted</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td>{{ row["quote"] }}</td>
            <td>{{ row["shares"] }}</td>
            <td>{{ row["unit_price"] }}</td>
            <td>{{ row["total_price"] }}</td>
            <td>{{ row["timestamp"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}